body {
	font-family: Cambria, Georgia, serif;
	margin: 0;

	color: default;
	background-color: default;
}

.content {
	padding: 30px 40px;
}

a {
	color: default;
}

a:visited {
	color: default;
}

.header {
	background-color: #c6c9cc;
}

.header svg {
	margin-left: 3px;
	opacity: 0.8;
}

.header svg g path:nth-child(1), /*F*/
.header svg g path:nth-child(2), /*B*/
.header svg g path:nth-child(6), /*G*/
.header svg g path:nth-child(7), /*m*/
.header svg g path:nth-child(8), /*b*/
.header svg g path:nth-child(9)  /*H*/{
	fill: black;
}

.header h1 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Calibri', 'Segoe UI', sans-serif;
}

li a {
	display: block;
}

li a:hover {
	background-color: #f2f2f2;
}

.gauge {
	height: 25px;
	background: #a7a7a7;
	border-radius: 8px;
	overflow: hidden;
}

.gauge .gauge-meter {
	height: 100%;
	float: left;
}

.gauge-info {
	margin: 0;
	padding: 20px 0;
}

.gauge-info .gauge-info-item {
	display: table-cell;
	width: 1%;
	text-align: center;
	line-height: 30px;
}

.gauge-info .gauge-info-item span.auditstatus {
	display: inline;
}

section.collapsed > :not(:first-child) {
	display: none;
}

table {
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}

th, td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
}

/* audit-info table */
table.audit-info {
	width: 100%;
}

table.audit-info th, table.audit-info td {
	border: 1px solid #d2d2d2;
}

table.audit-info th {
	border-bottom-width: 2px;
}

table.audit-info tr:nth-child(even) {
	background-color: #efefef;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(1), table.audit-info td:nth-child(1) {
	text-align: left;
	white-space: nowrap;
	width: 40px;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(2), table.audit-info td:nth-child(2) {
	text-align: left;
	width: 30%;
}

/* Last column in an audit-info table */
table.audit-info th:last-child, table.audit-info td:last-child {
	text-align: center;
	width: 70px;
}

.passed, .green, .failed, .red {
	color: #fff;
}

.warning, .orange  {
	color: #000;
}

.passed, .green {
	background-color: #33cca6;
}

.failed, .red {
	background-color: #cc0000;
}

.warning, .orange {
	background-color: #ff9933;
}

h1 span.passed, h1 span.failed, h1 span.warning,
h2 span.passed, h2 span.failed, h2 span.warning,
h3 span.passed, h3 span.failed, h3 span.warning {
	padding: 5px 10px;
	border-radius: 8px;
}

span.auditstatus {
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
}

.sectionAction {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 0 0 15px;
	padding: 0 8px;
	color: #161616;
	background-color: #dfdfdf;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
}

.sectionAction:hover {
	background-color: #dddddd;;
	color: blue;
}

#host-information {
	float: left;
}

/* Overall compliance donut chart */

.card {
	float: right;
	margin: 0 100px 0 0;
	width: 250px;
}

.donut-chart {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.donut-chart.chart {
	width: 200px; 
	height: 200px;
	background: #c6c9cc;
}

.donut-chart .slice {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.donut-chart .chart-center {
	position: absolute;
	border-radius: 50%;
	top: 25px;
	left: 25px;
	width: 150px;
	height: 150px;
	background: white;
}

.donut-chart .chart-center span {
	display: block;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
	color: black;
}


#navigationButtons{
	display: grid;
	grid-template-rows: 50px;
	grid-template-columns: 160px 160px;
}
button{
	margin-left: 10px;
}