body {
	font-family: Cambria, Georgia, serif;
	margin: 0;

	color: default;
	background-color: default;
}

.content {
	padding: 30px 40px;
}

a {
	color: default;
}

a:visited {
	color: default;
}

.header {
	background-color: #c6c9cc;
}

.header svg {
	margin-left: 3px;
	opacity: 0.8;
}

.header svg g path:nth-child(1), /*F*/
.header svg g path:nth-child(2), /*B*/
.header svg g path:nth-child(6), /*G*/
.header svg g path:nth-child(7), /*m*/
.header svg g path:nth-child(8), /*b*/
.header svg g path:nth-child(9)  /*H*/{
	fill: black;
}

.header h1 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Calibri', 'Segoe UI', sans-serif;
}

li a {
	display: block;
}

li a:hover {
	background-color: #f2f2f2;
}

.gauge {
	height: 25px;
	background: #a7a7a7;
	border-radius: 8px;
	overflow: hidden;
}

.gauge .gauge-meter {
	height: 100%;
	float: left;
}

.gauge-info {
	margin: 0;
	padding: 20px 0;
}

.gauge-info .gauge-info-item {
	display: table-cell;
	width: 1%;
	text-align: center;
	line-height: 30px;
}

.gauge-info .gauge-info-item span.auditstatus {
	display: inline;
}

section.collapsed > :not(:first-child) {
	display: none;
}

table {
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}

th, td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
}

/* audit-info table */
table.audit-info {
	margin-left: 8%;
	margin-right: 8%;
}

table.audit-info th, table.audit-info td {
	border: 1px solid #d2d2d2;
}

table.audit-info th {
	border-bottom-width: 2px;
	background-color: lightgray;
}

table.audit-info tr:nth-child(even) {
	background-color: #efefef;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(1), table.audit-info td:nth-child(1) {
	text-align: left;
	white-space: nowrap;
	width: 40px;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(2), table.audit-info td:nth-child(2) {
	text-align: left;
	width: 50%;
}

/* Last column in an audit-info table */
table.audit-info th:last-child, table.audit-info td:last-child {
	text-align: center;
	width: 70px;
}

.passed, .green, .failed, .red {
	color: #fff;
}

.warning, .orange  {
	color: #000;
}

.passed, .green {
	background-color: #33cca6;
}

.failed, .red {
	background-color: #cc0000;
}

.warning, .orange {
	background-color: #ff9933;
}

h1 span.passed, h1 span.failed, h1 span.warning,
h2 span.passed, h2 span.failed, h2 span.warning,
h3 span.passed, h3 span.failed, h3 span.warning {
	padding: 5px 10px;
	border-radius: 8px;
}

span.auditstatus {
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
}

.sectionAction {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 0 0 15px;
	padding: 0 8px;
	color: #161616;
	background-color: #dfdfdf;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
}

.sectionAction:hover {
	background-color: #dddddd;;
	color: blue;
}

#host-information {
	float: left;
}

/* Overall compliance donut chart */

.card {
	float: right;
	margin: 0 100px 0 0;
	width: 250px;
}

.donut-chart {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.donut-chart.chart {
	width: 200px; 
	height: 200px;
	background: #c6c9cc;
}

.donut-chart .slice {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.donut-chart .chart-center {
	position: absolute;
	border-radius: 50%;
	top: 25px;
	left: 25px;
	width: 150px;
	height: 150px;
	background: white;
}

.donut-chart .chart-center span {
	display: block;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
	color: black;
}


#navigationButtons{
	margin-top: 15px;
	display: grid;
	grid-template-rows: 50px;
	grid-template-columns: repeat(4,160px);
}
button{
	margin-left: 10px;
	border-radius: 8px;
	font-weight: bold;
}

#riskScore{
	font-family: Arial, sans-serif;
	text-align: center;
}

#riskMatrixContainer{
	display: grid;
	position: relative;
	grid-template-columns: 100px repeat(5,60px);
	grid-template-rows: repeat(6,60px);
	left: 10%;
	float: left;
	margin-top: 50px;
}

#riskMatrixContainer div{
	border: 1px solid black;
}


#severity{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 6;
	position: relative;
}

#quantity{
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row-start: 6;
	grid-row-end: 7;
	position: relative;
}

#severityArea{
	text-align: center;
	position: absolute;
	margin: 0;
	top:50%;
	left: 20%;
}

#quantityArea{
    text-align: center;
    position: absolute;
    margin: 0;
    top: 35%;
    left: 40%;
}

#severityCritical{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-top: 20px;
}

#severityHigh{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	padding-top: 20px;
}

#severityMedium{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding-top: 20px;
}

#severityLow{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	padding-top: 20px;
}

#quantityCritical{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 6;
	text-align: center;
	padding-top: 20px;
}

#quantityHigh{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
	text-align: center;
	padding-top: 20px;
}
#quantityMedium{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
	text-align: center;
	padding-top: 20px;
}

#quantityLow{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
	text-align: center;
	padding-top: 20px;
}

#riskMatrixContainer:nth-child(10){
	position: relative;
}

#riskMatrixSummary:nth-child(10){
	position: relative;
}

/* Color for each Risk */
#medium_medium, #medium_low, #low_medium{
	background-color: #ffc000;
}

#high_low, #high_medium, #high_high, #medium_high, #low_high{
	background-color: red;
}

#critical_low, #critical_medium, #critical_high, #critical_critical, #high_critical, #medium_critical, #low_critical{
	background-color: purple;
}


/* Low Risk */
#low_low{
	background-color: #548dd6;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}

/* Medium Risk */
#medium_low{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
#medium_medium{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
#low_medium{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
}

/* High Risk*/
#high_low{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
#high_medium{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
#high_high{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
}
#medium_high{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 4;
}
#low_high{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
}

/* Critical Risk */
#critical_low{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#critical_medium{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#critical_high{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}

#critical_critical{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
}

#high_critical{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}

#medium_critical{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
}

#low_critical{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
}

#severityDetails{
	margin-left: 8%;
    margin-top: 30px;
    border: 1px solid #d2d2d2;
    margin-right: 8%;
    float: right;
	margin-bottom: 40px;
}
#severityDetails td{
	border: 1px solid #d2d2d2;
}

#calculationTables{
	float: right;
    position: relative;
}

.calculationTablesText{
	text-align: left;
	font-family: Arial, sans-serif;
}




#riskScore th{
	background-color: lightgray;
}

#riskScore tr:nth-child(2n) td{
	background-color: #efefef;
}

#summaryTable{
	float: left;

}

#riskMatrixSummary{
	display: grid;
	position: relative;
	grid-template-columns: 100px repeat(5,60px);
	grid-template-rows: repeat(6,60px);
	right: 10%;
	float:right;
}

#riskMatrixSummary div{
	border: 1px solid black;
}

#riskMatrixSummaryArea{
	float: right;
	text-align: center;
	margin-right: 10%;
}

#systemData{
	float: left;
    text-align: left;
}

#dotRiskScoreTab {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    border-style: dotted;
    display: inline-block;
    position: absolute;
    left: 22px;
    border-width: 2px;
    top: 22px;
}

#dotSummaryTab {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    border-style: dotted;
    display: inline-block;
    position: absolute;
    left: 22px;
    border-width: 2px;
    top: 22px;
}


#quantityTable{
    margin-top: 30px;
    border: 1px solid black;
    margin-right: auto;
}


#severityTable{
    margin-top: 30px;
    border: 1px solid black;
    margin-right: auto;
}

.severityResultFalse{
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
	color: #fff;
	background-color: #cc0000; 
}


.severityResultTrue{
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
	color: #fff;
	background-color: #33cca6;
}

.severityResultNone, .severityResultError{
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
}

.severityResultWarning{
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
	background-color: #ff9933;
	color: #000;
}

.tabContent#riskScore{
	text-align: left;
}

#severityCompliance{
	margin-top: 25%;
	clear: both;
}

#complianceStatusFalse{
	padding: 5px 10px;
    border-radius: 8px;
	background-color: #cc0000;
	color: #fff;
	margin-left: 6%;
	font-weight: bold;
	display: inline;
}

#complianceStatusTrue{
	padding: 5px 10px;
    border-radius: 8px;
	background-color: #33cca6;
	color: #fff;
	margin-left: 6%;
	font-weight: bold;
	display: inline;
}

#referencesContainer{
	display: grid;
	grid-template-rows: 400px;
    grid-template-columns: repeat(2, 500px);
}

#referencesContainer div{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

