body {
	font-family: Cambria, Georgia, serif;
	margin: 0;

	color: #f3f3f3;
	background-color: #14141d;
}

.content {
	padding: 30px 40px;
}

a {
	color: #ffc17a;
}

a:visited {
	color: #ff7aad;
}

.header {
	background-color: #2a2a3d;
}

.header svg {
	margin-left: 3px;
	opacity: 0.8;
}

.header svg g path:nth-child(1), /*F*/
.header svg g path:nth-child(2), /*B*/
.header svg g path:nth-child(6), /*G*/
.header svg g path:nth-child(7), /*m*/
.header svg g path:nth-child(8), /*b*/
.header svg g path:nth-child(9)  /*H*/{
	fill: white;
}

.header h1 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Calibri', 'Segoe UI', sans-serif;
}

li a {
	display: block;
}

li a:hover {
	background-color: #2a2a3d;
}

.gauge {
	height: 25px;
	background: #43435f;
	border-radius: 8px;
	overflow: hidden;
}

.gauge .gauge-meter {
	height: 100%;
	float: left;
}

.gauge-info {
	margin: 0;
	padding: 20px 0;
}

.gauge-info .gauge-info-item {
	display: table-cell;
	width: 1%;
	text-align: center;
	line-height: 30px;
}

.gauge-info .gauge-info-item span.auditstatus {
	display: inline;
}

table {
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}

th, td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
}

/* audit-info table */
table.audit-info {
	width: 100%;
}

table.audit-info th, table.audit-info td {
	border: 1px solid #55555f;
}

table.audit-info th {
	border-bottom-width: 2px;
}

table.audit-info tr:nth-child(even) {
	background-color: #272733;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(1), table.audit-info td:nth-child(1) {
	text-align: left;
	white-space: nowrap;
	width: 40px;
}

/* First column in an audit-info table */
table.audit-info th:nth-child(2), table.audit-info td:nth-child(2) {
	text-align: left;
	width: 30%;
}

/* Last column in an audit-info table */
table.audit-info th:last-child, table.audit-info td:last-child {
	text-align: center;
	width: 70px;
}

.passed, .green, .failed, .red {
	color: #fff;
}

.warning, .orange  {
	color: #000;
}

.passed, .green {
	background-color: #33cca6;
}

.failed, .red {
	background-color: #cc0000;
}

.warning, .orange {
	background-color: #ff9933;
}

h1 span.passed, h1 span.failed, h1 span.warning,
h2 span.passed, h2 span.failed, h2 span.warning,
h3 span.passed, h3 span.failed, h3 span.warning {
	padding: 5px 10px;
	border-radius: 8px;
}

span.auditstatus {
	display: block;
	padding: 5px 10px;
	border-radius: 8px;
	font-weight: bold;
	margin: auto;
}

a.totop {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0 15px;
	color: #dddddd;
	background-color: #212130;
	border-radius: 8px;
	font-weight: bold;
}

a.totop:hover {
	background-color: #43435f;
	color: #ff9924;
}

#host-information {
	float: left;
}

/* Overall compliance donut chart */

.card {
  float: right;
  margin: 0 100px 0 0;
  width: 250px;
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}